<div class="container">
  <div class="row">
  <div class="col-md-5">
    <h2>【記録の詳細】</h2>
      <h4>スタート : <%= Time.zone.at(@record.starting_time).strftime("%m月 %d日/ %H時 %M分 %S秒") %></h4>
      <h4>ストップ : <%= Time.zone.at(@record.stoped_time).strftime("%m月 %d日/ %H時 %M分 %S秒") %></h4>
      <h4>大阪城１周3.5㎞のタイム : <%= Time.zone.at(@record.stoped_time - @record.starting_time).strftime("%M分 %S秒") %></h4>
      <h4>
        1㎞を <%= Time.zone.at((@record.stoped_time - @record.starting_time) / 3.5).strftime("%M分 %S秒") %> のペースです。
        <%= link_to "削除", record_path(@record), method: :delete, class: 'btn btn-sm btn-danger', "data-confirm" => "本当に削除しますか？" %>
      </h4>

      <%= image_tag '大阪城.jpg', size: "300x300" %>
  </div>


    <div class="col-md-7">
        <h3>最新の自己記録</h3>
        <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>日にち</th>
                <th>タイム</th>
                <th>いいね</th>
              </tr>
            </thead>
            <% @records.each do |record| %>
            <tbody>
                <tr>
                  <td><%= Time.zone.at(record.stoped_time).strftime("%Y年 %m月 %d日") %></td>
                  <td><%= Time.zone.at(record.stoped_time - record.starting_time).strftime("%M分 %S秒") %></td>
                  <td><%= record.favorites.count %></td>
                </tr>
            </tbody>
          <% end %>
        </table>
    </div>


</div>

</div>