
<nav class="navbar navbar-expand-lg bg-success text-white p-3">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <li class="navbar-nav">
        <%= link_to root_path do %>
          <%= image_tag 'ロゴ.png', size: "70x70" %>
        <% end %>
      </li>
      <ul class="navbar-nav ml-auto" >
        <% if user_signed_in? %>
          <li>
            <%= link_to "タイム測定", new_record_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "ユーザー", users_path(), class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "カレンダー", records_my_page_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
          </li>
        <% else %>
          <li>
            <%= link_to "トップページ", root_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>